
<h2>profile</h2>

<%= render 'users/profile', user: @user %>

<br><br><br>

<h2>Users</h2>
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @user.posts.each do |post| %>
		<tr>
			<td><%= link_to user_path(@user) do %>
                <% attachment_image_tag post.user, :user_image, fallback: "no_image.jpg", size:'40x40' %>
                <% end %>
                <%= link_to @user.name, user_path(post.user) %>
				<%= attachment_image_tag post, :post_image,  fallback: "no_image.jpg", size:'150x150' %>
			    <%= link_to post.title, post_path(post) %>
			    <%= post.body  %>
			    <%#= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
			<%# <% if post.favorited_by?(current_user)  %>
                <%# <%= link_to post_favorites_path(post), method: :delete do %>
                <%# <i class="fa fas-heart" aria-hidden="true" style="color: red;"></i> %>
                <%# <%= fa_icon "heart", :style=>"color:red;" %>
                <%# <% end %>
            <%# <% else %>
                <%# <%= link_to post_favorites_path(post), method: :post do %>
                <%# <i class="fa far-heart></i> %>
                <%# <%= fa_icon "heart-o", :style=>"color:red;" %>
                <%# <% end %>
            <%# <% end %>
			<%# <h6><%= post.favorites.count %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>