
<div class="container">
<div class="row">

    <div class="col-xs-3">
    <%= render 'users/profile', user: current_user %>
    </div>
<div class="col-xs-6">

        <div class="post">
            <%= link_to user_path(@post.user.id) do %>
                <%= attachment_image_tag @post.user, :user_image, fallback: "no_image.jpg", size:'50x50' %>
            <% end %>
            <%= link_to @post.user.name, user_path(@post.user) %>
            <div>
                <%= attachment_image_tag @post, :post_image, fallback: "no_image.jpg", class:"post-image" %>
            </div>
            <br>
            <h3><%= link_to @post.title, post_path(@post) %></h3><br>
            <%= @post.body %><br><br>
            <% if @post.user_id == current_user.id %>
                <%= link_to "編集", edit_post_path(@post), class: "btn-sm btn-success" %>
                <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-danger" %>
            <% end %><br>
            <p class="post_info">
			    	コメント<%= @post.comments.count %>
			    	<% if @post.favorited_by?(current_user)  %>
                		<%= link_to "♥", post_favorites_path(@post), method: :delete, class:"heart" %>
            		<% else %>
                		<%= link_to "♡", post_favorites_path(@post), method: :post, class:"heart" %>
            		<% end %>
					<%= @post.favorites.count %>
					<%= @post.created_at.strftime('%Y/%m/%d') %>
				</p>

            <br><br>
            <div class="comment">
            <% @post.comments.each do |comment| %>
                <div class="comment-mini">
                    <table><tr></tr><tr></tr>
                    <td>
                        <%= attachment_image_tag comment.user, :user_image, fallback: "no_image.jpg", size:'30x30' %><br>
                        <%= comment.user.name %>
                    </td>
                    <td class="comment-width">
                        <%= comment.comment %>
                        <% if current_user.id == comment.user_id %>
                    <p class="post_info">
                        <%= comment.created_at.strftime('%Y/%m/%d') %>
                        <%= link_to "削除", post_comment_path(@post.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' } , class: "btn-sm btn-danger"%>
                    </p>
                <% end %>
                    </td>
                    </table>
                </div>
            <% end %>
            </div>
            <br>

            <%= form_for [@post, @comment] do |f| %>
            <% if @comment.errors.any? %>
            <h3>
            <% @comment.errors.count %>errors prohibited this post from being saved:
            </h3>

            <ul>
            <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
            <% end %>
            <%= f.text_area :comment, rows:'5', class:"form" %><br>
            <%= f.submit "コメントする", class: "btn-sm btn-success" %>
            <% end %>
        </div>
        <div class="col-xs-3">
        </div>
</div>
</div>
</div>

